{% extends 'base.html' %}

{% block title %}Correo Enviado - Restablecer Contraseña{% endblock %}

{% block content %}
<div class="max-w-md mx-auto card p-8 items-center justify-center py-12 px-4 sm:px-6 lg:px-8 transition-colors duration-300">
  <div class="max-w-md w-full rounded-lg p-4 text-center">
    <h2 class="text-2xl font-bold mb-4 text-black dark:text-white">¡Correo enviado!</h2><br>
<p class="text-black dark:text-white mb-6">
      Si existe una cuenta con ese email, te enviamos un enlace para restablecer tu contraseña.
      Por favor, revisá tu bandeja de entrada.
    </p><br>
    <a href="{% url 'login' %}" class="btn-primary w-full py-3 text-lg block text-center">
      Volver
    </a>
  </div>
</div>
{% endblock %}
