{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="max-w-md mx-auto card p-8 items-center justify-center py-12 px-4 sm:px-6 lg:px-8 transition-colors duration-300">
    <h2 class="text-3xl font-bold text-center text-blue-500 mb-6">Restablecer Contraseña</h2>
    <p class="text-gray-800 dark:text-gray-300 mb-4 text-center">Introduce tu dirección de correo electrónico a continuación y te enviaremos instrucciones para establecer una nueva contraseña.</p><br>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_email" class="block text-gray-800 dark:text-gray-300 text-sm font-bold mb-2">Correo Electrónico:</label>
            {{ form.email|add_class:"w-full form-input" }}
            {% for error in form.email.errors %}
                <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
            {% endfor %}
        </div>
        <button type="submit" class="btn-primary w-full">Restablecer Contraseña</button>
    </form>
</div>
{% endblock %}
